@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appBox {
  width: 100%;
  min-height: 84vh;
}

.activeAppBox {
  width: 100%;
  min-height: 92vh;
}

.activeColor {
  color: #D2691E;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabBox>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab{
  width: 33vw;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
}

.tabRankingItem>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab{
  width: 33vw;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
}

.tabRankingBox>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab{
  width: 25vw;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
}

.tabClassBox>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab{
  width: 25vw;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
}

a {
  color: black;
  text-decoration: none;
}

/*正常的未被访问过的链接*/
a:link {
  text-decoration: none;
  color: black;
}

/*已经访问过的链接*/
a:visited {
  text-decoration: none;
  color: black;
}

/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
  color: black;
}

/* 正在点击的链接*/
a:active {
  text-decoration: none;
  color: black;
}

.bookItemBox .ant-layout {
  background-color: #fff;
}

.bookItemBox .ant-layout-sider {
  background-color: #fff;
}

.bookItemBox .ant-layout-header {
  background-color: #fff;
  line-height: 5vh;
  padding: 0;
}

.bookItemBox .ant-layout-footer {
  background-color: #fff;
  padding: 0;
}

.itemContent {
  width: 50vw;
  height: 33%;
  font-size: 14px;
  color: #ccc;
  text-align: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.itemContentClass {
  width: 20vw;
  height: 33%;
  font-size: 14px;
  color: #ccc;
  text-align: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tabClassBox .ant-layout {
  background-color: #fff;
}

.tabClassBox .ant-layout-sider {
  background-color: #fff;
}

.tabClassBox .ant-layout-header {
  background-color: #fff;
  line-height: 5vh;
  padding: 0;
}

.tabClassBox .ant-layout-footer {
  background-color: #fff;
  padding: 0;
}

.boxClassItem>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab {
  max-width: 13vh;
}
.boxClassItem>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab>.ant-tabs-tab-btn {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.boxClassItem .ant-layout {
  background-color: #fff;
}

.boxClassItem .ant-layout-sider {
  background-color: #fff;
}

.boxClassItem .ant-layout-header {
  background-color: #fff;
  line-height: 5vh;
  padding: 0;
}

.boxClassItem .ant-layout-footer {
  background-color: #fff;
  padding: 0;
}